[submodule "toktrie"]
	path = toktrie
	url = https://github.com/microsoft/toktrie
[submodule "llguidance"]
	path = llguidance
	url = https://github.com/microsoft/llguidance
[submodule "derivre"]
	path = derivre
	url = https://github.com/microsoft/derivre
[submodule "TensorRT-LLM"]
	path = TensorRT-LLM
	url = https://github.com/NVIDIA/TensorRT-LLM
